<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>ShoppingAppRedo</title>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
   
    <%= stylesheet_link_tag "admin_category" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
<h1 class="jumbotron">Admin | Categories</h1>

<div class="container3">
  <div class="row">
    <div class="col-12 card">
      <table class="table">
        <thead>
          <th>Name</th>
        </thead>
        <tbody>
          <%= render partial: "admin_category", collection: @categories %>
        </tbody>
      </table>
      <div class="btn1"> <%= button_to 'Add Category', new_admin_category_path, method: :get, class: "button" %></div>
    </div>
  </div>
</div>