<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>ShoppingAppRedo</title>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
   
    <%= stylesheet_link_tag "product_template" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<div class="landing-page">
  <div class="hero-section">
    <h1>Welcome to Shopping App!</h1>
    <p>Discover the best products at the best prices.</p>
    <a href="#" class="cta-button">Shop Now</a>
  </div>
  </div>
  <div class="container1">
    <h2>Our Products</h2>
    <div class="row">
      <%= render partial: "shared/product", collection: @products %>
    </div>
  </div>

</body>
<html>
