<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>ShoppingAppRedo</title>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
   
    <%= stylesheet_link_tag "navbar" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <ul class="navlinks">
          <li><%= link_to 'Home', products_path %></li>
          <% Category.all.each do |category| %>
            <li><%= link_to category.name.capitalize, category_path(category) %></li>
          <% end %>
          <% unless user_signed_in? %>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
          <% if user_signed_in? %>
            <li><%= link_to "Cart (#{current_user.cart_count})", cart_path %></li>
            <li><%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %></li>
          <% end %>
          <% if admin_signed_in? %>
            <li><%= link_to 'Categories', admin_categories_path %></li>
            <li><%= link_to 'Products', admin_products_path%></li> 
            <%# <li><%= link_to 'Orders', admin_orders_path %>
          <% end %>
        </ul>
      </div>
    </div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <div></div>
    <%= yield %>
  </body>
</html>
